.Edit{
    display: grid;
    position: absolute;
    right: 10px;
    height: 50vh;
    width: 10vh;
    padding-top:10px; 
    background: wheat;
    grid-row: repeat(5,1fr);
    justify-items: center;
    display: none;
};
