.C_rooms{
  grid-area: C_rooms;
  background-color:thistle;
  text-align: center;
  padding-top: 50%;
  font-size: 21px;
  margin: 10px;
  
}
.C_rooms a {
  color:black;
  text-decoration: none;
}
.C_rooms a.active{
  color:gold;
}